/* You can add global styles to this file, and also import other style files */
.input-error {
  border: solid 2px red;
}

.error {
  font-size: 0.8rem;
  color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
